.env
.env.backup
.phpunit.result.cache
/error-pages-cache/
/node_modules
/public/css/
/public/hot
/public/js/
/public/storage/
/public/vendor/
/resources/lang/vendor/
/resources/views/vendor/
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/resources/views/vendor/nova/partials
!/resources/views/vendor/nova/partials/footer.blade.php
!/resources/views/vendor/nova/partials/user.blade.php
.envault.json
