.env
.env.backup
.phpunit.result.cache
/error-pages-cache/
/node_modules
/public/css/app.css
/public/hot
/public/js/app.js
/public/storage
/public/vendor/
/resources/lang/vendor/
/resources/views/vendor/
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
