includes:
  - %rootDir%/../phpstan-strict-rules/rules.neon
  - %rootDir%/../phpstan-deprecation-rules/rules.neon
  - %rootDir%/../../nunomaduro/larastan/extension.neon
parameters:
  excludes_analyse:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - vendor/*
  ignoreErrors:
    - '#(?:Dynamic call to static method|Call to an undefined method) Illuminate\\Database\\Eloquent\\(?:Builder|Relations\\[a-zA-Z]+)?(?:<mixed>|<App\\[a-zA-Z]+>)?::(?:distinct|doesntHave|first|groupBy|has|havingRaw|join|leftJoin|orderBy|orderByRaw|orWhereNull|select|selectRaw|selectSub|where|whereBetween|whereDate|whereIn|whereNotNull|count|whereIn|whereBetween|sum|distinct|paid|active|accessActive|inactive|role|pending|pendingSwag|accessInactive|visible|whereNull|current|start|end|availableForPurchase)\(\)\.#'
    - '#Access to an undefined property App\\[a-zA-Z]+\|\(Illuminate\\Database\\Eloquent\\Collection&iterable<App\\[a-zA-Z]+>\)::\$[a-zA-Z_]+.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property mixed::\$[a-zA-Z]+\.#'
    - '#Access to an undefined property object::\$[a-zA-Z]+\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Contracts\\Role::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Permission::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Permission::\$name\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$id\.#'
    - '#Access to an undefined property Spatie\\Permission\\Models\\Role::\$name\.#'
    - '#Binary operation "\." between .+ and Illuminate\\Database\\Eloquent\\Builder results in an error\.#'
    - '#Binary operation "\." between .+ and Illuminate\\Database\\Eloquent\\Builder<App\\Attendance> results in an error\.#'
    - '#Cannot access property \$[a-zA-Z]+ on App\\[a-zA-Z]+\|array<App\\[a-zA-Z]+>|Illuminate\\Database\\Eloquent\\Collection\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z]+\|\(Illuminate\\Database\\Eloquent\\Collection&iterable<App\\[a-zA-Z]+>\)\|null\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z]+\|Illuminate\\Database\\Eloquent\\Builder\|null\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z]+\|null\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on Illuminate\\Database\\Eloquent\\Model\|null\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on mixed.#'
    - '#Cannot access property \$id on Illuminate\\Contracts\\Auth\\Authenticatable\|null\.#'
    - '#Cannot call method [a-zA-Z]+\(\) on App\\[a-zA-Z]+\|array<App\\[a-zA-Z]+>|Illuminate\\Database\\Eloquent\\Collection\.#'
    - '#Cannot call method [a-zA-Z]+\(\) on App\\User\|null\.#'
    - '#Cannot call method [a-zA-Z_]+\(\) on App\\[a-zA-Z]+\|\(Illuminate\\Database\\Eloquent\\Collection&iterable<App\\[a-zA-Z]+>\)\|null\.#'
    - '#Cannot call method can\(\) on App\\User\|null\.#'
    - '#Cannot call method cant\(\) on App\\User\|null\.#'
    - '#Cannot call method delete\(\) on App\\[a-zA-Z]+\|null\.#'
    - '#Cannot call method members\(\) on App\\Major\|null\.#'
    - '#Cannot call method members\(\) on App\\Team\|null\.#'
    - '#Cannot call method name\(\) on array\|Illuminate\\Routing\\Route\.#'
    - '#Cannot call method save\(\) on App\\[a-zA-Z]+\|null\.#'
    - '#Dynamic call to static method App\\Attendance::get\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Contracts\\Cache\\Repository::forget\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Connection::getDoctrineSchemaManager\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::whereNotNull\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::whereNull\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Model::delete\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Model::save\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Model::with\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::doesntHave\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::has\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::orderBy\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::selectRaw\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Query\\Builder::whereBetween\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Filesystem\\FilesystemAdapter::path\(\)\.#'
    - '#Dynamic call to static method PHPUnit\\Framework\\Assert::assertTrue\(\)\.#'
    - '#Dynamic call to static method Spatie\\Permission\\Models\\Role::givePermissionTo\(\)\.#'
    - '#Dynamic call to static method Spatie\\Permission\\Models\\Role::revokePermissionTo\(\)\.#'
    - '#Dynamic call to static method Spatie\\Permission\\Models\\Role::syncPermissions\(\)\.#'
    - '#Parameter \#2 \$str of function explode expects string, array\|string given\.#'
    - '#Undefined variable: \$factory#'
