parameters:
  excludes_analyse:
    - *.blade.php
    - .phpstorm.meta.php
    - _ide_helper.php
    - bootstrap/*
    - storage/*
    - vendor/*
  ignoreErrors:
    - '#(?:Dynamic call to static method|Call to an undefined method) Illuminate\\Database\\Eloquent\\(?:Builder|Relations\\[a-zA-Z]+)?(?:<mixed>|<App\\[a-zA-Z]+>)?::(?:distinct|doesntHave|first|groupBy|has|havingRaw|join|leftJoin|orderBy|orderByRaw|orWhereNull|select|selectRaw|selectSub|where|whereBetween|whereDate|whereIn|whereNotNull|count|whereIn|whereBetween|sum|distinct|paid|active|accessActive|inactive|role|pending|pendingSwag|accessInactive|visible|whereNull|current|start|end|availableForPurchase)\(\)\.#'
    - '#Access to an undefined property Laravel\\Nova\\Fields\\ActionFields::\$[a-zA-Z_]+\.#'
    - '#Access to an undefined property object::\$[a-zA-Z]+\.#'
    - '#Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy::[a-zA-Z_]+\(\)\.#'
    - '#Call to an undefined method Illuminate\\Support\\HigherOrderTapProxy<mixed>::send\(\)\.#'
    - '#Call to private method whereNotNull\(\) of parent class Illuminate\\Database\\Eloquent\\Relations\\HasManyThrough<Illuminate\\Database\\Eloquent\\Model>\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z]+\|null\.#'
    - '#Cannot access property \$[a-zA-Z_]+ on App\\[a-zA-Z_]+\|Illuminate\\Database\\Eloquent\\Collection<App\\Space>\|null\.#'
    - '#Cannot call method save\(\) on App\\[a-zA-Z]+\|null\.#'
    - '#Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard::user\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::whereNotNull\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::whereNull\(\)\.#'
    - '#Dynamic call to static method PHPUnit\\Framework\\Assert::assertTrue\(\)\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::toMail\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Notifications\\[a-zA-Z]+::via\(\) has parameter \$notifiable with no typehint specified\.#'
    - '#Method App\\Nova\\[a-zA-Z]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Method App\\Nova\\Actions\\[a-zA-Z]+::handle\(\) return type has no value type specified in iterable type array\.#'
    - '#Parameter \#1 \$filePath of method App\\Imports\\UsersImport::import\(\) expects string\|Symfony\\Component\\HttpFoundation\\File\\UploadedFile\|null, array\|string\|null given\.#'
    - '#Parameter \#1 \$ids of method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany<App\\Space>::syncWithoutDetaching\(\) expects array\|Illuminate\\Database\\Eloquent\\Model\|Illuminate\\Support\\Collection, App\\Space\|null given\.#'
    - '#Parameter \#1 \$space of class App\\Imports\\UsersImport constructor expects string, array\|string\|null given\.#'
    - '#Parameter \#1 \$user of static method Illuminate\\Auth\\SessionGuard::login\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, App\\User\|null given\.#'
    - '#Parameter \#2 \$str of function explode expects string, array\|string given\.#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Contracts\\Filter::apply\(\)#'
    - '#Parameter \#3 \$value \(.+\) of method App\\Nova\\Filters\\[a-zA-Z]+::apply\(\) should be contravariant with parameter \$value \(mixed\) of method Laravel\\Nova\\Filters\\Filter::apply\(\)#'
