@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';

.swal-swipe-title {
	font-size: 80px
}

.swal-swipe-title-red {
	font-size: 120px;
	color: red;
}
